{% extends 'base.html' %}
{% block content %}
{% block title %}<h2>Услуга {{ report['number'] }} от {{ report['date'] }}</h2>{% endblock %}
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Тип услуги</th>
            <td>{{ report['report_type'] }} </th>
        </tr>
        <tr>
            <td>Описание услуги</th>
            <td>{{ report['description'] }} </th>
        </tr>
        <tr>
            <td>Работник</th>
            <td>{{ report['employee_id'] }} </th>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="/clients">
            <button type="submit" class="btn btn-secondary"><i class="bi-people"></i> Перейти к клиенту</button>
        </a>
    </div>
</div>

{% endblock %}
