{% extends 'base.html' %}
{% block content %}
<h2>{% block title %} Отчет  #{{ report'number'] }} от {{ report['date'] }} {% endblock %}</h2>
<hr>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Позиция</th>
            <th scope="col">Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Стартовая цена</th>
            <td>{{ report['report_type'] }} ₽</th>
        </tr>
        <tr>
            <td>Максимальная скидка</th>
            <td>{{ report['description'] }} %</th>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-auto">
        <a href="/clients">
            <button type="submit" class="btn btn-secondary"><i class="bi-people"></i> Перейти к клиенту</button>
        </a>
    </div>
    <div class="col-auto">
        <form method="POST">
            <button type="submit" class="btn btn-primary"><i class="bi-printer"></i> Скачать договор</button>
        </form>
    </div>
</div>

{% endblock %}